body {
    background: lightgreen;
}
h2{
    color:rgb(64, 8, 153);
    text-align: center;
    background-color: yellow;
    font-size: 50px;
}
#title{
color: purple;
}
.hour{
    color: blue;
    font-weight: bold;
}
p{
    font-size: 36px;
    text-align: center;
}
h1{
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    font-size: 85px;
    
}
h3{
    display: inline;
    padding: 0px 10px 0px 10px;
    text-align: center;
    background: rgba(0 0 rgb(0, 183, 255), 1);
}
img{
    border-image: 10ch
}